@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Festispec</h1>
    <p class="lead">Deze applicatie bied je de volgende functionaliteiten: beschikbaarheid opgeven, inzien van het werkrooster en vragenlijsten invullen.</p>
    <p><a href="/Schedule/Index" class="btn btn-primary btn-lg">Ga direct naar het werkrooster &raquo;</a></p>
</div>
