@model IEnumerable<Festipec.Domain.Inspections>

@{
    ViewBag.Title = "Inspections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> </h2>

<div class="container2">
    <div class="row">
        <div class="box">
            <div class="col-md-6">
                <h2 class="Text">Aankomende inspecties</h2>
            </div>
        </div>
    </div>
</div>

<table class="table">

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Festivals.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Festivals.start_date)
        </td>
        <td>
            @Html.ActionLink("bekoekeloeren", "Go", new { id = item.id })
    </tr>
    }

</table>

<style>
    .container2 {
        background-color: #4B4B4B;
    }

    .Text {
        color: white;
        margin-left: 10px;
    }
</style>
