<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="FestispecEntities" connectionString="metadata=res://*/Ado.csdl|res://*/Ado.ssdl|res://*/Ado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VC0UBP7;initial catalog=Festispec;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>