@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Planning";
}
<!DOCTYPE html>
<html>
<head>
    <title>DHXScheduler initialization sample</title>
    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <div style="height:700px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
</body>
</html>