@{
      Layout = "~/Views/Shared/_Layout.cshtml";
      ViewBag.Title = "Beschikbaarheid";
}
<!DOCTYPE html>
<html>

    <link href="~/Content/dhtmlxScheduler/dhtmlxscheduler-responsive.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Calendar.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js" type="text/javascript"></script>
    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler-responsive.js" type="text/javascript"></script>
    <head>
        <title>DHXScheduler initialization sample</title>
        <style>
            body {
                background-color: #eee;
            }

            .dhx_cal_today_button {
                display: none;
            }

            .day_tab {
                display: none;
            }

            .week_tab {
                display: none;
            }

            .month_tab {
                display: none;
            }
        </style>
    </head>
    <body>
        <div style="height:700px;margin:0 auto">
            @Html.Raw(Model.Render())
        </div>
        <div class="container body-content">
            <hr />
            <h2>Ter informatie:</h2>
            <h4>Als je niks invult, betekent dat dat je beschikbaar bent.</h4>
            <h4>Alleen een nieuw beschikbaarheid event aanmaken wanneer je zeker weet dat je die bepaalde dag en tijd niet kan.</h4>
            <h5>Probeer de tekst binnen de beschikbaarheid event te houden op "niet beschikbaar" of "ziek".</h5>
            <h5>Tekst die hier op lijkt accepteren we ook.</h5>
        </div>
    </body>
</html>